@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lora:wght@400;700&family=Open+Sans:wght@400;500&display=swap');

html,
body {
  background-color: var(--background-color);
  font-family: var(--body-font-family);
  margin: 10px;
  transition: all .2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font-family);
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a,
span,
button,
label,
input {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: 15px;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.2;
}

/* colors variables light */
:root {
  --text-color: #212121;
  --background-color: #efefef;
  --card-background: #ffffff;
  --input-background: #dadada;
  --button-background: #dadada;
  --button-hover: #b5b5b5;
  --button-disabled-text: #808080;
  --button-active-background: #656565;
  --button-active-text: #ffffff;
  --hover-color: rgba(0, 0, 0, 0.2);
  --main-font-family: 'Lora', serif;
  --body-font-family: 'Open Sans', sans-serif;
  --monospace-font-family: 'Fira Code', monospace;
  --disconnected-color: #CB7428;
  --connected-color: #21854b;
}

[data-theme='dark'] {
  --text-color: #ffffff;
  --background-color: #212121;
  --card-background: #424242;
  --input-background: #616161;
  --button-background: #616161;
  --button-hover: #808080;
  --button-disabled-text: #808080;
  --button-active-background: #cacaca;
  --button-active-text: #212121;
  --hover-color: rgba(255, 255, 255, 0.2);
  --main-font-family: 'Lora', serif;
  --body-font-family: 'Open Sans', sans-serif;
  --monospace-font-family: 'Fira Code', monospace;
  --disconnected-color: #CB7428;
  --connected-color: #21854b;
}