.screenPreview {
  margin: 5px;
  padding: 3px;
  display: inline-block;
  background-color: var(--card-background);
  border-radius: 3px;
}

.screenPreview:hover {
  box-shadow: 3px 3px 8px 0px var(--shadow-color);
}

.screenSelect {
  width: 100%;
  padding: 10px;
  background-color: var(--input-background);
  color: var(--text-color);
  border: 0;
  outline: none;
  border-radius: 3px;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.screenUpload {
  display: none;
}

.button {
  margin: 10px;
  padding: 10px;
  background-color: var(--button-background);
  color: var(--text-color);
  border: 0;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.halfWidthButton {
  padding: 10px;
  background-color: var(--button-background);
  color: var(--text-color);
  border: 0;
  outline: none;
  border-radius: 3px;
  width: calc(50% - 10px);
  margin: 5px;
  cursor: pointer;
}

.button:hover,
.halfWidthButton:hover {
  background-color: var(--button-hover);
}

.button:disabled,
.halfWidthButton:disabled {
  background-color: var(--button-background);
  color: var(--button-disabled-text);
}

.button:active {
  background-color: var(--button-active-background);
  color: var(--button-active-text);
}

.inlineHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -8px;
}

/* Last item align right */
.inlineHeader>*:last-child {
  margin-left: auto;
}

.connectionStatusChip {
  margin: 0 5px;
  padding: 10px;
  background-color: var(--button-background);
  border-radius: 3px;
  cursor: default;
}

/* Status dot */
.connectionStatusChip::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--disconnected-color);
  border-radius: 50%;
  margin-right: 10px;
}

.connectionStatusChip.connected::before {
  background-color: var(--connected-color);
}

.inputContainer {
  margin: 10px;
  margin-left: 10px;
  margin-right: 25px;
  text-align: left;
  display: block;
}

.inputLabel {
  display: block;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--text-color);
  text-align: left;
}

.textInput {
  width: 100%;
  padding: 8px;
  background-color: var(--input-background);
  color: var(--text-color);
  border: 0;
  outline: none;
  border-radius: 3px;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  /* max-width: 300px; */
}

.maxWidthInput {
  max-width: 300px;
}

/* Two half-width columns side-by-side */
.halfWidth {
  width: calc(50% - 10px);
  margin: 5px;
  float: left;
}

/* simple input checkbox */
.checkbox {
  width: 20px;
  height: 20px;
}